@import 'reset';


/* Color Variables */
$bg: #fcfcfc;
$base: #2c3e50;
$primary: #e74c3c; 
$primary-light: #FF7053;
$secondary: #3390F4;

/* General Styles */

body {
	background-color: $bg;
	color: $base;
	font-family: Georgia, serif;
}

#topContainer {
	display: none;
}

.centreContainer {
	margin: 0 20px;

	max-width: 960px;
	min-width: 340px;
	overflow: hidden;
	@media (min-width:1024px) {
		margin: 0 auto;
	}
}

// Column Styles

.row, .row.examples {
	display: block;
	width: 100%;
	max-width: 960px;
}

footer .col1of3 {
	display: block;
	width: 100%;
	@media (min-width: 570px) {
		text-align: center;
		display: inline-block;
		width: 302px / 960px * 100%;
		margin-right: 20px / 960px * 100%;
		&:last-child {
			text-align: right;
			margin-right: 0;
		}
		&:first-child {
			text-align: left;
		}
	}

}

.examples {
	display: block;
	width: 100%;
	max-width: 960px;
	&:first-child {
		margin-top: 30px;
	}
	@media (min-width:570px) {
		border-bottom: 1px solid #eaeaea;
		margin-bottom: 30px;
		padding-bottom: 20px;
		padding-right: 0;
		&:first-child {
			margin-top: 10px;
		}

	}
}

.example {
	display: block;
	width: 100%;
	margin-bottom: 55px;
	img {
		width: 100%;
		max-width: 300px;
		margin-bottom: 25px; 
	}
	@media (min-width: 570px) {
		display: inline-block;
		width: 280px / 960px * 100%;
		margin-right: 40px / 960px * 100%;
		vertical-align: top;
		margin-bottom: 20px;

		&:last-child {
			margin-right: 0;
			padding-right: 0;
		}
	}

	a.btn {
		padding: 10px 15px;
		background-color: $base;
		color: $bg;
		border-radius: 4px;
		transition: .5s;
		&:hover {
			background-color: $primary;
		}
	}
	.btnContainer {
		margin-top: 30px;
		margin-bottom: 20px;
	}
}

.home-example {
	padding: 25px;
	border: 1px solid #eaeaea;

	img {
		width: 100%;
		max-width: 300px;
		margin-bottom: 15px;
	}
	p {
		font-size: 14px;
	}
}



//  Layout Styles

article[role="main"] {
    @media (min-width:840px) {
		float: left;
		width: 550px / 960px * 100%;
		margin-right: 50px / 960px * 100%;
	}
}

aside[role="complimentary"] {
  	margin-top: 30px;
  	@media (min-width: 840px) {
  	  	float: right;
  		width: 350px / 960px * 100%;
  	}
  	#specsList {
  		background-color: #dedede;
  		padding: 25px / 960px * 100%;
  		height: 300px;
  		@media (min-width: 840px){
  			float: none;
  			width: initial;
  			height: none;
  		}
  	}
  	li {
  		border-bottom: 1px solid silver;
  		margin: 0 20px;
  		h5 {
  			font-size: 12px;
  			padding: 15px 0;
  			margin: 0;
  		}
  	}
  	li:last-child {
  		border-bottom: none;
  	}
  	span {
  		font-weight: normal;
  		float: right;
  	}
  	#imgContainer {
  		width: 100%;
  		background-color: $base;
  		text-align: center;
  		img {
  			max-width: 275px;
  			margin: 0 auto;
  			padding: 20px 0;
  		}
  		@media (min-width: 840px){
  			float: none;
  			width: initial;
  			padding: 25px / 960px * 100%;
  			img {
  				width: 90%;
  				padding: 20px / 960px * 100%;
  			}
  		}
  	}
}

header {
	text-align: center;
	background-color: $base;
	padding-top: 30px;
	margin-bottom: 30px;
	overflow: hidden;
	@media (min-width: 675px) {
		text-align: left;
		padding-bottom: 25px;
		#logo {
			float:left;
			h1 {
				font-size: 48px;
			}
		}
	}
	#nav {
		margin-top: 30px;
		padding-bottom: 20px;
		@media (min-width:675px) {
			float: right;
			margin-top: 45px;
		}


		li {
			display: inline;
			a {
				background-color: $bg;
				border-radius: 3px;
				padding: 12px 25px;				
				font-size: 12px;
				font-style: italic;
				color: $base;
				transition: .5s;
				@media (min-width: 675px) {
					padding: 10px 15px;
				}
			}
			a.active {
				color: $bg;
				background-color: $secondary;
			}
			&:hover {
				a {
					color: $bg;
					background-color: $secondary;
				}
			}
		}
	}
}

footer {
	padding: 30px 0;
	background-color: black;
	margin-top: 40px;
	overflow: hidden;
	color: gray;
	#follow img {
		margin-left: 8px;
	}

}


/* Typography */

h1 {
	font-size: 30px;
	color: $bg;
	margin-bottom: 6px;
	text-transform: uppercase;

}
h2 {
	font-size: 20px;
	color: $secondary;
	font-style: italic;
	margin-bottom: 10px;
	@media (min-width 675px) {
		font-size: 28px;
	}
}
h3 {
	font-size: 18px;
	line-height: 1.4em;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 14px;
	margin-top: 26px;
	color: $primary;
	@media (min-width: 570px) {
		font-size: 22px;
	}
}
h4 {
	font-size: 17px;
	line-height: 1.4em;
	font-weight: bold;
	margin-bottom: 18px;
}
h5 {
	font-size: 16px;

	margin-bottom: 16px;
}
h6 {
	font-size: 16px;
	font-variable: italic;
	margin-bottom: 14px;
}
p {
	line-height: 1.5em;
	font-size: 14px;
	margin-bottom: 12px;
	@media (min-width: 570px) {
		font-size: 16px;
	}
}

article p {
	text-align: justify;
}
blockquote {
	background-image: url('../images/quotemark.png');
	background-position: top left;
	background-repeat: no-repeat;
	font-size: 18px;
	opacity: 0.6;
	line-height: 1.7em;
	padding-left: 40px;
	font-style: italic;
	margin: 20px 0;
}


a {
	color: $secondary;
	text-decoration: none;
	transition: .5s;
	&:hover {
		color:$primary;
	}
}

button {
	padding: 10px 15px;
	border-radius: 3px;
	border: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
}
button.light {
	background-color: $bg;
	color: $base;
	&:hover {
		color: $primary;
	}
}
button.dark {
	background-color: black;
	color: $bg;
	&:hover {
		color: $primary;
	}
}




