/* General Styles */
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400);
body {
	font-family: 'Titillium-Web', Tahoma, sans-serif;
	font-size: 14px;
	color: #444549;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p {
	margin: 15px 0px;
	line-height: 1.5em;
}

/* Floats */

.fl {
	float: left;
}
.fr {
	float: right;
}
.cl {
	clear: left;
}
.cr {
	clear: right;
}
.cb {
	clear: both;
}

/* Typography */

h1{
	font-family: 'Titillium-Web', Tahoma, sans-serif;
	font-size: 24px;
} 

h3 {
	font-family: 'Titillium-Web', Tahoma, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .5px;
} 

.sectionHeading {
	color: #dd0c46;
	padding:10px 0;
	margin-bottom: 20px;
}
.sectionHeading span{
	background-color: #dd0c46;
	color: white;
	padding:6px 10px;
	moz-border-radius: 5px;
	webkit-border-radius: 5px;
	ms-border-radius: 5px;
	o-border-radius: 5px;
	border-radius: 5px;
	margin-left: 3px;
}



h6 {
	font-family: 'Titillium-Web', Tahoma, sans-serif;
	font-size: 11px;
}

a {
	color: #dd0c46;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.readMoreLink {
	font-family: 'Titillium-Web', Tahoma, sans-serif;
	font-size: 11px;
	background-image: url('../images/listArrowRed.png');
	background-repeat: no-repeat;
	background-position: center right;
	padding-right: 16px;
}

/* Seperator */

.sepContainer {
	height: 14px;
	background-image: url('../images/sepImage.png');
	background-repeat:repeat-x;
	margin: 30px 0;
}

/* Stucture Styles */

.centreContainer {
	width: 960px; 
	margin: 0 auto;
	overflow: hidden;
}

/* Top Styles */
#topContainer {
	background-image: url('../images/topBg.png');
	background-repeat: 0 0 repeat;
	height: 130px;
}
#topContainer .logo {
	margin-top: 40px;
}
#topContactInfo {
	background-image: url('../images/contactinfo.png');
	background-repeat:0 0 no-repeat;
	width: 291px;
	height: 118px;
}

#topContactInfo ul {
	padding: 0 30px;
}

#topContactInfo ul li {
	border-bottom: 1px solid #ebebed;
}

#topContactInfo ul li p {
	color: #929790;
	font-size: 11px;
	background-image: url('../images/listArrowDark.png');
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 15px;
	margin: 9px 0;
	margin-right: 8px;
}
#topContactInfo #socialIcons{
	padding-top: 9px; 
}

#topContactInfo #socialIcons li{
	display: inline;
	border: none;
	padding-right:3px;
}

#topContactInfo ul li:last-child {
	border: none;
}

/* Menu Style */

#menuContainer {
	background-image: url('../images/menuBG.png');
	background-repeat: repeat-x;
	height: 80px;
}

#nav li {
	display: inline;
	float: left;
	border-right: 1px solid #606168;
	margin: 24px 35px 0 0; 
	padding-right: 35px;
	transition: 0.2s ease;
}
#nav li:hover {
	margin-top: 20px;
}
#nav li a:hover {
	text-decoration: none;
}
#nav li a:hover span {
 color:gray;
}

#nav li:last-child {
	border: none;
}
#nav li a {
	font-family: 'Titillium-Web', Tahoma, sans-serif;
	color: white;
	font-size: 14px;
	text-transform: uppercase;
}

#nav li a span {
	padding-top: 5px;
	font-size: 12px;
	text-transform: lowercase;
	display: block;
	color: #606168;
	transition: 0.2s ease-in;
}

#sliderContainer {
	background-image: url('../images/sliderBG.png');
	background-repeat:repeat-x;
	height: 300px;
	margin-bottom: 30px;
}

/*  Services Styles */

.oneThirdCol{
	width: 285px;
	float: left;
	margin-right: 50px;
}

.oneThirdCol:last-child {
	margin-right: 0;
}

#servicesContainer .oneThirdCol h3 {
	color: #2d2f33;
	margin-top: 15px;
	letter-spacing: .5px;
}
#servicesContainer  .oneThirdCol img {
	margin: 0 12px 15px 0;
}
#servicesContainer  .oneThirdCol p {
	color: #919295;
	clear: left;
}
#servicesContainer  .oneThirdCol ul li {
	background-image: url('../images/listArrowDark.png');
	background-position: center left;
	background-repeat: no-repeat;
	padding: 3px 3px 3px 15px;
}

#col1 {
	background-image: url('../images/number1.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}
#col2 {
	background-image: url('../images/number2.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}
#col3 {
	background-image: url('../images/number3.png');
	background-repeat: no-repeat;
	background-position: bottom right;
}

/* Left Container */

#leftContainer {
	width: 360px;
	margin-right: 50px;
}

#newsList li {
	border-bottom: 1px solid #e1e5e9;
	margin-bottom: 20px;
	padding-bottom: 20px;
}
#newsList li h6 {
	color:#9fa2a4
}
#newsList li h3 {
	margin-top: 8px;
	text-transform: capitalize;
}

/* Right Container*/
#rightContainer {
	width: 550px;
}

#rightContainer blockquote {
	background-image: url('../images/quotemark.png');
	background-repeat: no-repeat;
	background-position: left top;
	margin-left: 20px;
}
#rightContainer blockquote p{
	color: #919295;
	font-size: 14px;
	font-style: italic;
	margin-left: 60px;
}
#clientListContainer {
	border: 1px solid #e1e5e9;
	border-radius: 6px;
	overflow: hidden;
}
#clientList li {
	display: inline;
	float: left;
	background-image: url('../images/clientListBG.png');
	background-repeat: repeat-x;
	border-bottom: 1px solid #e1e5e9;
	border-right: 1px solid #e1e5e9;
}
#clientList li p {
	padding: 44px 0 0 0;
	margin: 0;
	width: 136px;
	height: 68px;
	text-align: center;
	line-height: 112px;
}
#clientList li p img {
	vertical-align: middle;
}

/*  Footer Styles  */


#footerContainer {
	background-image: url('../images/footerBG.png');
	background-repeat: repeat;
	margin-top: 20px;

}
#footerContainer .oneThirdCol {
	color: #e1e5e9;
	margin-top: 40px;
	margin-bottom: 50px;
}

#footerContainer .oneThirdCol h3 {
	margin-top: 15px;
	font-size: 14px;
}
#footerContainer  .oneThirdCol img {
	margin: 0 12px 15px 0;
}
#footerContainer .oneThirdCol p {
	clear: left;
	font-size: 11px;
	margin-bottom: 5px;
	line-height: 1.7em;
}
#tweetList p {
	margin-top: 25px;
}
#footerContainer .oneThirdCol a {
	color: #e1e5e9;
	text-decoration: underline;
}
#tweetList p {
	font-style: italic;
}
#tweetList span {
	color: gray;
	font-style: italic;
	font-size: 11px;
}
#footerContainer #subscribeForm input[type=text] {
	width: 90%;
	height: 40px;
	border-radius: 6px;
	margin-top: 10px;
	padding: 10px;
	font-style: italic;
	font-size: 14px;
	box-shadow: inset 2px 2px 10px 4px #e1e5e9;
	border: none;
}

#subscribeForm {
	position: relative;
}

.redButton {
	position: absolute;
	background-color: #dd0c46;
	border-radius: 5px;
	padding: 18px 20px;
	top: 12px;
	right: 30px;
}
.redButton:hover {
	background-color: #BE0C3E;
}
.redButton img {
	padding: 10px;
	position: absolute;
	top: 4px;
	left: 7px;
}


#bottomContactInfo {
	margin-top: 15px;
}
#bottomContactInfo li p {
	padding: 10px 12px;
	background-color: #424347;
	margin-top: 4px;
	border-radius: 6px;
}

/* Copyright Info Styles */


#copyrightContainer {
	background-image: url('../images/copyrightBG.png');
	background-repeat: repeat;
	padding: 30px 0;
}

#copyrightContainer p {
	color: #e1e5e9;
	font-size: 11px;
	vertical-align: top;
}
#copyrightContainer #bottomCopyright img {
	margin-right: 20px;
}

.socialIcons {
	margin-top: 20px;
}
.socialIcons li {
	display: inline;
	margin-left: 5px;
}
























